@mixin button($background, $content) {
  background: $background;
  color: $content;
  cursor: pointer;
  outline: 0;
  user-select: none;
  vertical-align: middle;
  border: none;
  text-align: center;
  padding: 10px 13px;

  &:hover {
    background: darken($background, 5%);
    color: $content;
    path {
      fill: $content;
    }
  }

  &:active {
    background: darken($background, 10%);
  }
}