$black: #000000;
$gray-darkest: #333333;
$gray-light: #dfdfdf;
$gray-dark: #7e7e7e;
$gray-darker: #4a4a4a;
$blue-light: #3e8bdc;
$cerulean: #0284c6;
$black-light: #262626;
$white-smoke: #f8f8f8;
$greyish-brown: #4f4f4f;
$green: #81c03d;
$pinkish-grey: #bfbfbf;
$deep-aqua: #0a608b;
$white: #d7d7d7;
$warm-grey: #9b9b9b;
