@import "../../styles/theme";
@import "../../styles/buttons";

.card {
  padding: 20px 25px 30px;

  &__article {
    text-align: right;
    font-size: 11.8px;
    font-weight: 300;
    color: $pinkish-grey;
  }

  &__preview {
    max-width: 100%;
    margin-top: 15px;
  }

  &__availability {
    font-size: 12.8px;
    font-weight: 300;
    margin-top: 20px;

    &_true {
      color: $green;
      display: flex;
      align-items: center;

      &:before {
        content: "";
        background-image: url("/dist/img/checkbox-green.svg");
        width: 8.9px;
        height: 7px;
        display: block;
        background-size: contain;
        margin-right: 8px;
      }
    }
  }

  &__title {
    margin: 5px 0 0;
    font-size: 17.8px;
    color: $black-light;
    font-weight: 400;
  }

  &__description {
    &-list {
      margin-top: 17px;
    }
    &-item {
      font-size: 11.8px;
      font-weight: 300;
      margin: 0 0 10px;
    }

    &-name {
      color: $warm-grey;
    }
  }

  &__controls {
    display: flex;
    margin-top: 70px;
    align-items: center;
  }

  &__button {
    @include button($cerulean, #fff);
    font-size: 13.8px;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      background-image: url("/dist/img/cart.svg");
      width: 19px;
      height: 19px;
      display: block;
      background-size: contain;
      margin-right: 10px;
    }
  }

  &__icon-button {
    border: none;
    background-color: unset;
    cursor: pointer;

    &:before {
      content: "";
      width: 19px;
      height: 19px;
      display: block;
      background-size: contain;
    }

    &_favorite {
      margin-left: auto;
      &:before {
        width: 19px;
        height: 17px;
        background-image: url("/dist/img/like.svg");
      }
    }

    &_scales {
      &:before {
        background-image: url("/dist/img/scales.png");
      }
    }
  }
}
